@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Roboto Flex", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;

    line-height: 1.5;
    color: #000000;
    background-color: #D7B2F4;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


